body {
  height: 100vh;
  margin: 0;
  width: 100%;
  background: black;
  font-family: "Inter";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Inter;
}
